{% extends 'blog/base.html' %}

{% block content %}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo repudiandae enim earum tempora, modi facere illum, quod veniam minus odio animi quis, omnis ex quasi. Accusamus quis, dicta! Voluptatem ipsum laboriosam nihil adipisci quas rerum suscipit veritatis? Eius deserunt quia tempore iusto, possimus delectus numquam facilis nostrum est quas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, hic! Cumque dolorum quod, consequatur eligendi. Vero facere itaque excepturi voluptate assumenda, fugit, quibusdam rem eos ipsam nesciunt repellat a adipisci!</p>
{% endblock %}